<div class="login">
  <div class="row align-items-center justify-content-center" style="height:100vh;">
    <div class="card row loginPanel">
      <div class="col col-lg-2" width="100vw" height="100vh">
        <img src='assets\icons\icon.png' class="icon" width="180vw" height="180vh">
      </div>
      <hr class="line">
      <div class="col col-lg-6 loginForm">
        <form class="example-form">
          <mat-input name="username" label="{{ 'global.username' | translate }}" [stylesOptions]="cssOptions"
            [required]="true">
          </mat-input>

          <mat-input name="password" label="{{ 'global.password' | translate }}" type="password" [required]="true">
          </mat-input>

          <div style="padding-top: 10px; padding-left: 55px; margin-top: 20px;">
            <button mat-fab>
              <mat-icon>home</mat-icon>
            </button>
          </div>

          <!-- <div class="container-login100-form-btn">
            <button class="login100-form-btn" (click)="loginButtonClick($event)">
              Giriş
            </button>
          </div> -->

        </form>
      </div>
    </div>
  </div>
  <div class="copyright">
    <small>
      Yönetim Asistanı, BHA Teknoloji San. ve Tic. Ltd. Şti. tescilli markasıdır. Tüm hakları saklıdır. © 2021 BHA
    </small>
  </div>
</div>