<div class="login">
  <div class="row align-items-center justify-content-center" style="height:100vh;">
    <div class="card row login-panel">
      <div class="col col-lg-2" width="100vw" height="100vh">
        <img src='assets\icons\icon.png' class="icon" width="180vw" height="180vh">
      </div>
      <hr class="line">
      <div class="col col-lg-6 login-form">
        <form [formGroup]="withUserNameForm" (ngSubmit)="onSubmit()">
          <mat-input label="{{ 'global.username' | translate }}" [stylesOptions]="cssOptions" [required]="true"
            formControlName="username">
          </mat-input>

          <mat-input label="{{ 'global.password' | translate }}" type="password" [required]="true"
            formControlName="userpassword">
          </mat-input>

          <div style="padding-top: 10px; padding-left: 38px; margin-top: 20px;">
            <button mat-raised-button type="submit" color="primary">Giriş</button>
          </div>
        </form>
      </div>
      <!-- <div class="helperbuttons">
        <a class="btn contact" (click)="onClick($event)">İletişim</a>
        <a class="btn demo" (click)="onClick($event)">Tanıtım</a>
      </div> -->
    </div>
  </div>
  <div class="copyright">
    <small>
      {{'global.copyright.text' | translate}}
    </small>
  </div>
</div>