<mat-form-field class="example-full-width">
    <mat-label *ngIf="isBeValueLabel"> {{ label }} </mat-label>
    <!-- [formControl]="emailFormControl" [errorStateMatcher]="matcher" -->
    <input matInput [formControl]="emailFormControl" [placeholder]="placeHolder"
        [autocomplete]="autoComplate ? 'on' : 'off'">
    <mat-hint *ngIf="isBeValueHint">{{ hint }}</mat-hint>
    <mat-error *ngIf="required && emailFormControl.hasError('required')">
        {{ requiredErrorMessage | translate }}
    </mat-error>
</mat-form-field>
<!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
    Please enter a valid email address
</mat-error> -->