
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$customize-theme: (
    50: #7599CA,
    contrast: ()
);
$BHA-ManagementAssistant-Angular-primary: mat-palette($customize-theme, 50);
$BHA-ManagementAssistant-Angular-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$BHA-ManagementAssistant-Angular-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$BHA-ManagementAssistant-Angular-theme: mat-light-theme((
  color: (
    primary: $BHA-ManagementAssistant-Angular-primary,
    accent: $BHA-ManagementAssistant-Angular-accent,
    warn: $BHA-ManagementAssistant-Angular-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($BHA-ManagementAssistant-Angular-theme);

/*region values*/
$zeropxValue: 0px;
$onepxValue: 1px;
$fullWidthValue: 100vw;
$fullHeightValue: 100vh;
$percent: 100%;
$fiftyPercent: 50%;
$zeroPercent: 0%;
/*endregion*/

/*region colors*/
$iconsBlueCode: #7599CA;
$iconsRedCode: #FD5F54;
$iconsGreyCode: #516274;
$iconsBlackCode: #000000;
$purpleColorCode: #7579ff;
$pinkColorCode: #b224ef;
$lilacColorCode: #a3abce;
$whiteColorCode: white;

$loginBackgroundColor: radial-gradient(ellipse at center, $iconsBlueCode $zeroPercent, $iconsGreyCode $percent);
/*endregion*/

@mixin fullscreen($image) {
    position: fixed;
    background-image: $image;
    height: $fullHeightValue;
    width: $fullWidthValue;
}
html, body { height: 100%; }
body {   font-family: Roboto, Arial, sans-serif; margin: 0; }

//Button etrafında çıkan borderı engellemek için
button:focus, 
button:active:focus, 
button.active:focus {
    outline: none !important;
    outline-style: none !important;
}
